<%
function excerpt(content) {
  if(content.indexOf("<!--more-->") == -1) return content;
  else return content.split("<!--more-->")[0];
}

function prettyDate(dateString){
    //if it's already a date object and not a string you don't need this line:
    var date = new Date(dateString);
    var d = date.getDate();
    var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    var m = monthNames[date.getMonth()];
    var y = date.getFullYear();
    return m+' '+d+' '+y;
}
%>

<div class="row">
    <div class="12u">

        <!-- Characters -->
            <section>
                <header class="major">
                    <h2>Characters</h2>
                </header>
                <div class="row">
                <% for (var character in public._data.characters) { %>
                    <div class="4u">
                        <section class="box">
                            <span class="image featured"><img src="<%- public._data.characters[character].image %>" alt="" /></span>
                            <header>
                                <h3><%- public._data.characters[character].name %></h3>
                            </header>
                            <p><%- public._data.characters[character].description %></p>
                        </section>
                    </div>
                <% } %>
                </div>
            </section>

    </div>
</div>
<div class="row">
    <div class="12u">

        <!-- Blog -->
            <section>
                <header class="major">
                    <h2>Recent Episodes</h2>
                </header>
                <div class="row">
                <% 
                var i = 0;
                for(var slug in public.posts._data){
                    i++;
                    if (i < 3) {
                %>
                    <div class="6u">
                        <section class="box">
                            <a href="/posts/<%- slug %>" class="image featured"><img src="<%- public.posts._data[slug].banner %>" alt="" /></a>
                            <header>
                                <h3><%- public.posts._data[slug].title %></h3>
                                <p>Posted <%- prettyDate(public.posts._data[slug].date) %></p>
                            </header>
                            <p><%- excerpt(partial("/posts/" + slug)) %></p>
                            <footer>
                                <ul class="actions">
                                    <li><a href="/posts/<%- slug %>" class="button icon fa-file-text">Continue Reading</a></li>
                                </ul>
                            </footer>
                        </section>
                    </div>
                <% }
                }; %>
                </div>
            </section>

    </div>
</div>
